
.course{
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 3px;
  /* justify-content: start; */
}


.course img{
  width: 150px;
  margin: 10px;
}

.content{
  text-align: left;
}

.name{
  color: rgb(52, 122, 122);
}

.price{
  color: rgb(53, 114, 53);
}

.button{
  width: 150px;
}